@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
// Font
$mainFont: "Inter", sans-serif;
$logoFont: "Kaushan Script", cursive;

// Colors
$c1: #050a0f;
$c2: #28323e;
$c3: #ced6df;
$c4: #ffffff;
$c5: #0077b6;
$c6: #0b5b86;

// Fontweight
$f1: 100;
$f2: 200;
$f3: 300;
$f4: 400;
$f5: 500;
$f6: 600;
$f7: 700;
$f8: 800;
$f9: 900;
